<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>

    
<body>

    <%- include('partials/headerNavbar') %>


    <div class="columnas">
        <h1 class="titulo-productos">Botas</h1>
        <section class="">
            <div class="">
            </div>
            <% botas.forEach(function(product){ 
                let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0)
            %>
                <div class="todosProductos">
                    <article class="productos">
                        <a href="/botas/detail/<%= product.id %>">
                            <figure class="img">
                                <img src="/img/<%= product.image %>" alt="imagen de producto">
                            </figure>
                            <div class="">
                                <p><%= product.name %></p>
                                <p class="descrip"><%= product.description %></p>
                                <p class="descrip"><%= product.price %></p>
                                <div class="">  <i class="fas fa-truck"></i>
						<button type="submit" class="buy-now-button">Comprar</button> </div>
                            </div>
                        </a>
                    </article>
                </div>
            <% }) %>
    
        </section>
    </div>

    <%- include('partials/footer') %>
</body>
</html>