<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <%- include('partials/headerNavbar') %>
      <main>
        <h1 class="h1-ingresa">Ingresá</h1>
        <div class="errors">
          <ul>
          </ul>
        </div>
        <div class="container-login">
          <form action="/login" method="POST" class="loginForm" id="formularioLogin">
            <div class="login">
              <label>
                <p class="p-login">EMAIL</p>
              </label>
              <input class="input-hijo loginEmail" type="email" name="email" id="loginEmail"
                placeholder="Email"></input>
              <% if (locals.errors && errors.email) { %>
                <%= errors.email.msg %>
                  <%} %>
            </div>
            <div class="login">

              <label>
                <p class="p-login">CONTRASEÑA</p>
              </label>
              <input class="input-hijo" type="password" name="password" id="loginPassword"
                placeholder="Contraseña"></input>

<<<<<<< HEAD
=======
                  <label>
                    <p class="p-login">CONTRASEÑA</p>
                  </label>
                  <input class="input-hijo password" type="password" name="password" id="loginPassword"
                    placeholder="Contraseña"></input>
                   
                </div>
                  <% if (locals.errors  && errors.password) { %> 
                      <%= errors.password.msg %>
                  <%} %>    
                <div class="login">
                  <button class="button-login" type="submit">Enviar</button>
                </div>
              </form>
>>>>>>> c3fa263319c6d4a09d1192f093fe2bdbefdb1589
            </div>
            <% if (locals.errors && errors.password) { %>
              <%= errors.password.msg %>
                <%} %>
                  <div class="login">
                    <button class="button-login" type="submit">Enviar</button>
                  </div>
          </form>
        </div>



      </main>
      <script>
<<<<<<< HEAD
    
        let formularioLogin = document.querySelector(".loginForm");
        let campoEmail = document.querySelector("#loginEmail");
        let campoPassword = document.querySelector("#loginPassword");
        let errors = []
=======
        window.addEventListener("load", function () {
          let formularioLogin = document.querySelector(".loginForm");
          let campoEmail = document.getElementById("loginEmail");
          let campoPassword = document.querySelector(".password");
          let errors = []
>>>>>>> c3fa263319c6d4a09d1192f093fe2bdbefdb1589

        window.addEventListener("load", function () { 
         
          campoEmail.onfocus = function (e) {
            console.log('focus en email')
            if (campoEmail.value == "") {             
              errors.push("Este campo es obligatorio")
            }
          }

          campoPassword.onfocus = function (e) {
            console.log("focus en password")
            e.preventDefault();
            if (campoPassword.value == "") {
              errors.push("Este campo es obligatorio")
            }
            if (campoPassword.value.length >= 8) {
              errors.push("La contraseña debe tener al menos 8 caracteres")
            }
          }

          if (errors.length > 0) {
           // e.preventDefault();
          };
          let ulErrors = document.querySelector(".errors")
          for (let i = 0; i < errors.length; i++) {
            ulErrors.innnerHTML += "<li>" + errors[i] + "</li>"

          }
<<<<<<< HEAD


 
=======
>>>>>>> c3fa263319c6d4a09d1192f093fe2bdbefdb1589
        })
      </script>

      <%- include('partials/footer') %>
  </body>

</html>