<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <%- include('partials/headerNavbar') %>
      <main>
        <h1 class="h1-ingresa">Ingresá</h1>
        <div class="container-login">
          <form action="/login" method="POST" class="loginForm" id="formularioLogin">
            <div class="login">
              <label>
                <p class="p-login">EMAIL</p>
              </label>
              <input class="input-hijo loginEmail" type="email" name="email" id="loginEmail"
                placeholder="Email"></input>
              <% if (locals.errors && errors.email) { %>
                <%= errors.email.msg %>
                  <%} %>
            </div>
            <div class="login">
              <label>
                <p class="p-login">CONTRASEÑA</p>
              </label>
              <input class="input-hijo password" type="password" name="password" id="loginPassword"
                placeholder="Contraseña"></input>

            </div>
            <% if (locals.errors && errors.password) { %>
              <%= errors.password.msg %>
                <%} %>
                  <div class="login">
                    <button class="button-login" type="submit">Enviar</button>
                  </div>
          </form>
        </div>
        <div class="errors">
          <ul>
          </ul>
        </div>
        </div>



      </main>
      <script>
   window.addEventListener("load",function(){
    let formularioLogin = document.querySelector(".loginForm");

    formularioLogin.addEventListener("submit",function(e){
        let erorrs =[];

        let campoEmail= document.querySelector("#loginEmail");
        let campoPassword= document.querySelector("#loginPassword");

        if(campoEmail.value == ""){
            erorrs.push("Este campo es obligatorio")
        }
        if(campoEmail.value == validator){
            erorrs.push("Este campo debe contener un email válido")
        }

        if(campoPassword.value == ""){
            erorrs.push("Este campo es obligatorio")
        }
        if(campoPassword.value.length >= 8){
            erorrs.push("La contraseña debe tener al menos 8 caracteres")
        }

        if(erorrs.length > 0){
           e.preventDefault();
        };

        let ulErrors = document.querySelector(".errors")
        for (let i = 0; i < erorrs.length; i++) {
            ulErrors.innnerHTML += "<li>" + erorrs[i] + "</li>"
            
        }

    })

})
      </script>

      <%- include('partials/footer') %>
  </body>

</html>