<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <%- include('partials/headerNavbar') %>
      <main>
        <h1 class="h1-ingresa">Ingresá</h1>
        <div class="container-login">
          <!-----------------FORM--------------------->
          <form action="/login" method="POST" class="loginForm" id="formularioLogin">
            <!-----------------EMAIL--------------------->
            <div class="login">
              <label>
                <p class="p-login">EMAIL</p>
              </label>
              <input class="input-hijo loginEmail" type="email" name="email" id="loginEmail"
                placeholder="Email"></input>
              <% if (locals.errors && errors.email) { %>
                <%= errors.email.msg %>
                  <%} %>
            </div>
            <!-----------------PASSWORD--------------------->
            <div class="login">
              <label>
                <p class="p-login">CONTRASEÑA</p>
              </label>
              <input class="input-hijo password" type="password" name="password" id="loginPassword"
                placeholder="Contraseña"></input>

            </div>
            <% if (locals.errors && errors.password) { %>
              <%= errors.password.msg %>
                <%} %>
                <!-----------------BUTTON SUBMIT-------------------->
                  <div class="login">
                    <button class="button-login" type="submit">Enviar</button>
                  </div>
          </form>
        </div>
      </main>
      <script src="../../js/loginForm"></script>

      <%- include('partials/footer') %>
  </body>

</html>