<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <main>
            <%- include('partials/headerNavbar') %>
                <h1 class="h1-perfil">Hola, <%= usuario.firstName %>!</h1>
            
                <div class="container-padre-perfil">
                    <div class="div-img-perfil">
                        <img class="img-perfil" src='/img/img-usuarios/<%=usuario.avatar%>' alt="imagen">
                    </div>
                    <% if (locals.userAdmin === true) {%>

                        <p> Eres usuario administrador!</p>
                        <%} %>
                    <div class="div-datos">
                        <p class="titulo-datos">MIS DATOS</p>
                        
                
                        <a href="/profileEdit"> Editar perfil</a>
                        </button>
                        <p class="datos-perfil"><strong>Nombre:</strong>
                            <%= usuario.firstName%>
                        </p>
                        <p class="datos-perfil"><strong>Apellido:</strong>
                            <%= usuario.lastName %>
                        </p>
                        <p class="datos-perfil"><strong>Email:</strong>
                            <%= usuario.email %>
                        </p>
                        <p class="datos-perfil"><strong>Fecha de nacimiento:</strong>
                            <%= usuario.birthday%>
                        </p>
                    </div>
                </div>
                <%- include('partials/footer') %>
        </main>
    </body>

</html>