<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <main>
        <%- include('partials/headerNavbar') %>
        <h1 class="">Hola, <%= usuario.firstName %>!</h1>
        <div class="container-padre-perfil">
                    <img class="img-perfil" src="/img/img-usuarios/<%=usuario.avatar%>" alt="imagen">
                    <div class="div-datos">
                        <p class="titulo-datos">Mis datos</p>
                        <p class="datos-perfil">NOMBRE: <%= usuario.firstName%></p>
                        <p class="datos-perfil">APELLIDO: <%= usuario.lastName %></p>
                        <p class="datos-perfil">EMAIL: <%= usuario.email %></p>
                        <p class="datos-perfil">FECHA DE NACIMIENTO: <%= usuario.birthday%></p>
                    </div>
                </div>
                <%- include('partials/footer') %>
    </main>
    </body>
</html>