<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <main>
            <%- include('partials/headerNavbar') %>
                <h1 class="h1-perfil">Hola, <%= usuario.firstName %>!</h1>
                <div class="container-padre-perfil">
                    <div class="div-img-perfil">
                        <img class="img-perfil" src='/img/img-usuarios/<%=usuario.avatar%>' alt="imagen">
                    </div>
                    <form action="/profileEdit/<%= usuario.id %>?_method=PATCH" class="formulario" id="formulario"
                        method="POST" enctype="multipart/form-data">

                        <!--  firstName -->
                        <div class="formulario__grupo" id="grupo__firstName">
                          <label for="firstName" class="formulario__label">NOMBRE</label>
                          <div class="formulario__grupo-input">
                            <input type="text" class="formulario__input" name="firstName" id="firstName" placeholder="Julian">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                          </div>
                          <p class="formulario__input-error">El Nombre tiene que ser de 4 a 16 dígitos y solo puede contener
                            letras.</p>
                          <% if (locals.errors && errors.firstName) {%>
                            <%= errors.firstName.msg %>
                              <%}%>
                        </div>
            
                        <!--  lastName -->
                        <div class="formulario__grupo" id="grupo__lastName">
                          <label for="lastName" class="formulario__label">APELLIDO</label>
                          <div class="formulario__grupo-input">
                            <input type="text" class="formulario__input" name="lastName" id="lastName" placeholder="Alvarez">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                          </div>
                          <% if (locals.errors && errors.lastName) {%>
                            <%= errors.lastName.msg %>
                              <%}%>
                                <p class="formulario__input-error">El Apellido tiene que ser de 4 a 16 dígitos y solo puede contener
                                  letras.</p>
                        </div>
            
            
            
                        <!--  Contraseña -->
                        <div class="formulario__grupo" id="grupo__password">
                          <label for="password" class="formulario__label">CONTRASEÑA</label>
                          <div class="formulario__grupo-input">
                            <input type="password" class="formulario__input" name="password" id="password">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                          </div>
                          <% if (locals.errors && errors.password) {%>
                            <%= errors.password.msg %>
                              <%}%>
                                <p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 dígitos.</p>
                        </div>
            
                        <!--  Contraseña 2 -->
                        <div class="formulario__grupo" id="grupo__password2">
                          <label for="password2" class="formulario__label">REPETIR CONTRASEÑA</label>
                          <div class="formulario__grupo-input">
                            <input type="password" class="formulario__input" name="password2" id="password2">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                          </div>
                          <p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
                        </div>
            
                        <!--  Correo Electronico -->
                        <div class="formulario__grupo" id="grupo__email">
                          <label for="email" class="formulario__label">CORREO ELECTRONICO</label>
                          <div class="formulario__grupo-input">
                            <input type="email" class="formulario__input" name="email" id="email" placeholder="email@email.com">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                          </div>
                          <% if (locals.errors && errors.email) {%>
                            <%= errors.email.msg %>
                              <%}%>
                                <p class="formulario__input-error">El email solo puede contener letras, numeros, puntos, guiones y
                                  guion
                                  bajo.</p>
                                <% if (locals.mailEnUso) { %>
                                  <p> Porfavor ingrese otro email.</p>
                                  <% } %>
                        </div>
            
            
            
                        <!--  Teléfono -->
                        <div class="formulario__grupo" id="grupo__phone">
                          <label for="phone" class="formulario__label">NUMERO DE TELEFONO</label>
                          <div class="formulario__grupo-input">
                            <input type="text" class="formulario__input" name="phone" id="phone" placeholder="4491234567">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                          </div>
            
            
            
                          <% if (locals.errors && errors.phone) {%>
                            <%= errors.phone.msg %>
                              <%}%>
                                <p class="formulario__input-error">El phone solo puede contener numeros y el maximo son 14 dígitos.
                                </p>
                        </div>           
            
            
                        <!-- Foto de usuario-->
                        <div class="contenedor-input">
                          <label>
                            <p class="p-registrarte">FOTO USUARIO
                          </label>
                          <input type="file" name="avatar">
                        </div>
            
                        <!--  Terminos y Condiciones -->
                        <div class="formulario__grupo" id="grupo__terminos">
                          <label class="formulario__label">
                            <input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
                            Acepto los Terminos y Condiciones
                          </label>
                        </div>
            
                        <div class="formulario__mensaje" id="formulario__mensaje">
                          <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario
                            correctamente. </p>
                        </div>
            
                        <div class="formulario__grupo formulario__grupo-btn-enviar">
                          <button type="submit" class="formulario__btn">Enviar</button>
                          <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
                        </div>
                      </form>
                </div>
                <%- include('partials/footer') %>
        </main>
    </body>

</html>