<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

  <body>
    <%- include('partials/headerNavbar') %>
      <main>
        <h1 class="h1-registrarte">Creá tu cuenta</h1>
        <div class="contenedor-padre">
          <form action="/registrarte" class="formulario" id="formulario" method="POST">

            <!-- Grupo: firstName -->
            <div class="formulario__grupo" id="grupo__firstName">
              <label for="firstName" class="formulario__label">NOMBRE</label>
              <div class="formulario__grupo-input">
                <input type="text" class="formulario__input" name="firstName" id="firstName" placeholder="Pepito">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
              </div>
              <p class="formulario__input-error">El Nombre tiene que ser de 4 a 16 dígitos y solo puede contener
              letras.</p>
                <% if (locals.errors && errors.firstName) {%>
                  <%= errors.firstName.msg %>
                    <%}%>
            </div>

            <!-- Grupo: lastName -->
            <div class="formulario__grupo" id="grupo__lastName">
              <label for="lastName" class="formulario__label">APELLIDO</label>
              <div class="formulario__grupo-input">
                <input type="text" class="formulario__input" name="lastName" id="lastName" placeholder="Elpistolero">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
              </div>
              <% if (locals.errors && errors.lastName) {%>
                <%= errors.lastName.msg %>
                  <%}%>
              <p class="formulario__input-error">El Apellido tiene que ser de 4 a 16 dígitos y solo puede contener
                letras.</p>
            </div>



            <!-- Grupo: Contraseña -->
            <div class="formulario__grupo" id="grupo__password">
              <label for="password" class="formulario__label">CONTRASEÑA</label>
              <div class="formulario__grupo-input">
                <input type="password" class="formulario__input" name="password" id="password">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
              </div>
              <% if (locals.errors && errors.password) {%>
                <%= errors.password.msg %>
                  <%}%>
              <p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 dígitos.</p>
            </div>

            <!-- Grupo: Contraseña 2 -->
            <div class="formulario__grupo" id="grupo__password2">
              <label for="password2" class="formulario__label">REPETIR CONTRASEÑA</label>
              <div class="formulario__grupo-input">
                <input type="password" class="formulario__input" name="password2" id="password2">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
              </div>
              <p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
            </div>

            <!-- Grupo: email Electronico -->
            <div class="formulario__grupo" id="grupo__email">
              <label for="email" class="formulario__label">CORREO ELECTRONICO</label>
              <div class="formulario__grupo-input">
                <input type="email" class="formulario__input" name="email" id="email" placeholder="email@email.com">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
              </div>
              <% if (locals.errors && errors.email) {%>
                <%= errors.email.msg %>
                  <%}%>
              <p class="formulario__input-error">El email solo puede contener letras, numeros, puntos, guiones y guion
                bajo.</p>
            </div>



            <!-- Grupo: Teléfono -->
            <div class="formulario__grupo" id="grupo__telefono">
              <label for="telefono" class="formulario__label">TELEFONO</label>
              <div class="formulario__grupo-input">
                <input type="text" class="formulario__input" name="telefono" id="telefono" placeholder="4491234567">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
              </div>
              <% if (locals.errors && errors.telefono) {%>
                <%= errors.telefono.msg %>
                  <%}%>
              <p class="formulario__input-error">El telefono solo puede contener numeros y el maximo son 14 dígitos.</p>
            </div>


            <!-- Fecha de nacimiento-->
            <div class="contenedor-input">
              <label for="birthday">
                <p class="p-registrarte">FECHA DE NACIMIENTO</p>
              </label>
              <input type="date" required min="1945-01-01" max="2022-04-06" name="birthday" id="birthday" />
              <% if (locals.errors && errors.birthday) {%>
                <%= errors.birthday.msg %>
                  <%}%>
            </div>

            <!-- Foto de usuario-->
            <div class="contenedor-input">
              <label>
                <p class="p-registrarte">FOTO USUARIO
              </label>
              <input type="file" name="avatar">
            </div>

            <!-- Grupo: Terminos y Condiciones -->
            <div class="formulario__grupo" id="grupo__terminos">
              <label class="formulario__label">
                <input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
                Acepto los Terminos y Condiciones
              </label>
            </div>

            <div class="formulario__mensaje" id="formulario__mensaje">
              <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario
                correctamente. </p>
            </div>

            <div class="formulario__grupo formulario__grupo-btn-enviar">
              <button type="submit" class="formulario__btn">Enviar</button>
              <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
            </div>
          </form>
        </div>
      </main>

      <script>
        const formulario = document.getElementById('formulario');
        const inputs = document.querySelectorAll('#formulario input');

        const expresiones = {
          firstName: /^[a-zA-ZÀ-ÿ\s]{2,40}$/, // Letras y espacios, pueden llevar acentos.
          lastName: /^[a-zA-Z0-9\_\-]{4,16}$/, // Letras, numeros, guion y guion_bajo
          password: /^.{8,12}$/, // 4 a 12 digitos.
          email: /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/,
          telefono: /^\d{7,14}$/ // 7 a 14 numeros.
        }

        const campos = {
          lastName: false,
          firstName: false,
          password: false,
          email: false,
          telefono: false
        }

        const validarFormulario = (e) => {
          switch (e.target.name) {
            case "firstName":
              validarCampo(expresiones.firstName, e.target, 'firstName');
              break;
            case "lastName":
              validarCampo(expresiones.lastName, e.target, 'lastName');
              break;
            case "password":
              validarCampo(expresiones.password, e.target, 'password');
              validarPassword2();
              break;
            case "password2":
              validarPassword2();
              break;
            case "email":
              validarCampo(expresiones.email, e.target, 'email');
              break;
            case "telefono":
              validarCampo(expresiones.telefono, e.target, 'telefono');
              break;
          }
        }

        const validarCampo = (expresion, input, campo) => {
          if (expresion.test(input.value)) {
            document.getElementById(`grupo__${campo}`).classList.remove('formulario__grupo-incorrecto');
            document.getElementById(`grupo__${campo}`).classList.add('formulario__grupo-correcto');
            document.querySelector(`#grupo__${campo} i`).classList.add('fa-check-circle');
            document.querySelector(`#grupo__${campo} i`).classList.remove('fa-times-circle');
            document.querySelector(`#grupo__${campo} .formulario__input-error`).classList.remove('formulario__input-error-activo');
            campos[campo] = true;
          } else {
            document.getElementById(`grupo__${campo}`).classList.add('formulario__grupo-incorrecto');
            document.getElementById(`grupo__${campo}`).classList.remove('formulario__grupo-correcto');
            document.querySelector(`#grupo__${campo} i`).classList.add('fa-times-circle');
            document.querySelector(`#grupo__${campo} i`).classList.remove('fa-check-circle');
            document.querySelector(`#grupo__${campo} .formulario__input-error`).classList.add('formulario__input-error-activo');
            campos[campo] = false;
          }
        }

        const validarPassword2 = () => {
          const inputPassword1 = document.getElementById('password');
          const inputPassword2 = document.getElementById('password2');

          if (inputPassword1.value !== inputPassword2.value) {
            document.getElementById(`grupo__password2`).classList.add('formulario__grupo-incorrecto');
            document.getElementById(`grupo__password2`).classList.remove('formulario__grupo-correcto');
            document.querySelector(`#grupo__password2 i`).classList.add('fa-times-circle');
            document.querySelector(`#grupo__password2 i`).classList.remove('fa-check-circle');
            document.querySelector(`#grupo__password2 .formulario__input-error`).classList.add('formulario__input-error-activo');
            campos['password'] = false;
          } else {
            document.getElementById(`grupo__password2`).classList.remove('formulario__grupo-incorrecto');
            document.getElementById(`grupo__password2`).classList.add('formulario__grupo-correcto');
            document.querySelector(`#grupo__password2 i`).classList.remove('fa-times-circle');
            document.querySelector(`#grupo__password2 i`).classList.add('fa-check-circle');
            document.querySelector(`#grupo__password2 .formulario__input-error`).classList.remove('formulario__input-error-activo');
            campos['password'] = true;
          }
        }

        inputs.forEach((input) => {
          input.addEventListener('keyup', validarFormulario);
          input.addEventListener('blur', validarFormulario);
        });

        formulario.addEventListener('submit', (e) => {
          e.preventDefault();

          const terminos = document.getElementById('terminos');
          if (campos.lastName && campos.firstName && campos.password && campos.email && campos.telefono && terminos.checked) {
            formulario.submit();


            document.getElementById('formulario__mensaje-exito').classList.add('formulario__mensaje-exito-activo');
            setTimeout(() => {
              document.getElementById('formulario__mensaje-exito').classList.remove('formulario__mensaje-exito-activo');
            }, 5000);

            document.querySelectorAll('.formulario__grupo-correcto').forEach((icono) => {
              icono.classList.remove('formulario__grupo-correcto');
            });
          } else {
            document.getElementById('formulario__mensaje').classList.add('formulario__mensaje-activo');
          }
        });
      </script>



  </body>

</html>