<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>
<body>
    <%- include('partials/headerNavbar') %>
    <main>
        <h1 class="h1-registrarte">Creá tu cuenta</h1>
        <div class="container-padre">
        <form action="/registrarte" method="POST" enctype="multipart/form-data">
          <div class="contenedor-input">
            <input class="input-hijo" type="text" required name="firstName" id="nombre" placeholder="Nombre"></input>
          
            <% if (locals.errors && errors.firstName) {%>
              <%= errors.firstName.msg %>
            <%}%>
          </div>

          <div class="contenedor-input">
            <input class="input-hijo" type="text" required name="lastName" id="apellido" placeholder="Apellido"></input>
            <% if (locals.errors && errors.lastName) {%>
              <%= errors.lastName.msg %>
            <%}%>
          </div>

          <div class="contenedor-input">
            <input class="input-hijo" type="email" required name="email" id="createEmail" placeholder="Email"></input>
            <% if (locals.errors && errors.email) {%>
              <%= errors.email.msg %>
            <%}%>
          </div>

          <div class="contenedor-input">
            <label for="fecha-de-nacimiento">Fecha de nacimiento</label>
            <br>
            <input type="date" required min="1945-01-01" max="2022-04-06" name="birthday"
              id="fecha-de-nacimiento" />
              <% if (locals.errors && errors.birthday) {%>
                <%= errors.birthday.msg %>
              <%}%>
          </div>

          <div class="contenedor-input">
            <label>Foto de usuario:</label>
            <br>
            <input type="file" required name="avatar">
          </div>

          <div class="contenedor-input">
            <label for="password">Contraseña</label>            
            <input class="input-hijo" type="password" required name="password" id="password" />
            <% if (locals.errors && errors.password) {%>
              <%= errors.password.msg %>
            <%}%>
          </div>

          <div class="button"> <button type="submit">Enviar</button></div>
        </form>
      </div>
      </main>

      <%- include('partials/footer') %>

  </body>

</html>