<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

  <body>
    <%- include('partials/headerNavbar') %>
      <main>

        <h1 class="h1-registrarte">Creá tu cuenta</h1>
        <div class="contenedor-padre">


          <form action="/registrarte" method="POST" enctype="multipart/form-data" class="registerForm">

            <div class="contenedor-input">

              <label>
                <p class="p-registrarte">NOMBRE</p>
              </label>
              <input class="input-hijo" type="text" name="firstName" id="nombre" placeholder="Juana Maria"></input>

              <% if (locals.errors && errors.firstName) {%>
                <%= errors.firstName.msg %>
                  <%}%>
            </div>

            <div class="contenedor-input">
              <label>
                <p class="p-registrarte">APELLIDO</p>
              </label>
              <input class="input-hijo" type="text" name="lastName" id="apellido" placeholder="Dorrego"></input>
              <% if (locals.errors && errors.lastName) {%>
                <%= errors.lastName.msg %>
                  <%}%>
            </div>

            <div class="contenedor-input">
              <label>
                <p class="registrarte">EMAIL</p>
              </label>
              <input class="input-hijo" type="email" name="email" id="createEmail"
                placeholder="juani_dorrego@gmail.com"></input>
              <% if (locals.errors && errors.email) {%>
                <%= errors.email.msg %>
                  <%}%>
            </div>

            <div class="contenedor-input">
              <label for="fecha-de-nacimiento">
                <p class="p-registrarte">FECHA DE NACIMIENTO</p>
              </label>
              <input type="date" required min="1945-01-01" max="2022-04-06" name="birthday" id="fecha-de-nacimiento" />
              <% if (locals.errors && errors.birthday) {%>
                <%= errors.birthday.msg %>
                  <%}%>
            </div>

            <div class="contenedor-input">
              <label>
                <p class="p-registrarte">FOTO USUARIO
              </label>
              <p>
                <br>
                <input type="file" name="avatar">
            </div>

            <div class="contenedor-input">
              <label for="password">
                <p class="p-registrarte">CONTRASEÑA</p>
              </label>
              <p>
                <input class="input-hijo" type="password" name="password" id="password" />
                <% if (locals.errors && errors.password) {%>
                  <%= errors.password.msg %>
                    <%}%>
            </div>

            <div class="contenedor-input">
              <button class="button-registrarte" type="submit">ENVIAR</button>
            </div>
          </form>
        </div>
        <div class="formError">
          <ul>

          </ul>
        </div>

      </main>

      <%- include('partials/footer') %>


        <script>
          window.onload = function (event) {
            event.preventDefault();
            let errors = []
            let formulario = document.querySelector('.registerForm')
            let name = document.querySelector('#nombre')
            let apellido = document.querySelector('#apellido')
            let email = document.querySelector('#createEmail')

            name.onfocus = function (event) {
              event.preventDefault();
              if(name.value.length == 0){
              errors.push("Debes completar este campo")
            };
              if (name.value.length < 2 && name.value.length != 0) {
                errors.push('Debe tener 2 caracteres o mas')
              }
              if (name.value.length > 20) {
                errors.push('Tu nombre es muy largo')
              }
              if (errors.length > 0) {
                event.preventDefault();
                let ulErrors = document.querySelector('.formError ul');
                errors.forEach(error => {
                  ulErrors.innerHTML += `<li> ${error} </li>`
                })

              }
            };

            apellido.onfocus = function (event) {
              event.preventDefault();
              if(apellido.value.length == 0){
              errors.push("Debes completar este campo")
            };
              if (apellido.value.length < 2 && apellido.value.length != 0) {
                errors.push('Debe tener 2 caracteres o mas')
              }
              if (apellido.value.length > 20) {
                errors.push('Tu nombre es muy largo')
              }
              if (errors.length > 0) {
                event.preventDefault();
                let ulErrors = document.querySelector('.formError ul');
                errors.forEach(error => {
                  ulErrors.innerHTML += `<li> ${error} </li>`
                })

              }
            }
          };

          email.onfocus = function (event) {
            event.preventDefault();
            if (email.value.length >= 1 && email.value.length < 6) {
              errors.push('Porfavor ingrese un mail correcto')
            };
            if(email.value.length == 0){
              errors.push("Debes completar este campo")
            };

          };

        </script>


  </body>

</html>