<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/headerNavbar') %>
            <main>
                <div class="columnas">
                    <h1 class="titulo-texanas">Texanas</h1>
                    <section class="">
                        <div class="">
                        </div>
                        <% texanas.forEach(function(texanas){ let finalPrice=(texanas.price * ((100 - texanas.discount)
                            / 100)).toFixed(0) %>
                            <div class="titulo-texanas">
                                <article class="texanas">
                                    <a href="/productos/detail/<%= texanas.id %>">
                                        <figure class="img">
                                            <img src="/img/<%= texanas.image %>" alt="imagen de texanaso">
                                        </figure>
                                        <div class="">
                                            <p>
                                                <%= texanas.name %>
                                            </p>
                                            <p class="descrip">
                                                <%= texanas.description %>
                                            </p>
                                            <p class="descrip">
                                                <%= texanas.price %>
                                            </p>
                                            <button type="submit" class="buy-now-button">
                                                <div class=""> <i class="fas fa-truck"></i>
                                            </button>
                                        </div>
                                        <div class="">
                                            <button type="submit" class="buy-now-button">Comprar</button>
                                        </div>
                            </div>
                            </a>
                            </article>
                </div>
                <% }) %>
                    </section>
                    </div>
            </main>
            <%- include('partials/footer') %>
    </body>

</html>